.ennemy1{
  left: 3320px;
  top : 441px;
}

.ennemy2{
  left: 3720px;
  top : 441px;
}

.ennemy3{
  left: 4220px;
  top : 370px;
}

.ennemy4{
  left: 4820px;
  top : 441px;
}

/*
.ennemy5{
  top : 390px;
  left: 600px;
}

.ennemy5{
  top : 390px;
  left: 600px;
}

.ennemy6{
  top : 390px;
  left: 600px;
}

.ennemy7{
  top : 390px;
  left: 600px;
}

.ennemy8{
  top : 390px;
  left: 600px;
}
*/


