html{
  overflow: hidden;
}

.box{
  width: 640px;
  height: 400px;
  border: solid 1px black;
  position: relative;
}

.perso{
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: aqua;
  transition: all linear 0.1s;
  
}

.shoot{
  width: 10px;
  height: 2px;
  position: absolute;
  background-color: red;
  display: none;
  transition: all linear 0.08s;
  
 
}

.slash{
  width: 40px;
  transform: rotate(20deg);
  position: absolute;
}

.ennemy{
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: blueviolet;
}

.ennemy1{
  top : 10px;
  left: 50px;
}

.ennemy2{
  top : 90px;
  left: 500px;
}
.ennemy3{
  top : 120px;
  left: 500px;
}
.ennemy4{
  top : 160px;
  left: 500px;
}
.ennemy5{
  top : 300px;
  left: 500px;
}