/*********  CONTOUR JEU  *********/

body, html {
  height:100%;
  background-color: black;
 overflow:hidden;
  text-align: center;
  position: relative;
  margin: 0;

}

.about {
  position: absolute;
  right: 40px;
  top: 20px;
  font-family: Roboto, sans-serif;
  margin-top: 10px;
  transition: 0.6s;
  font-size: 16px;
}

.about:hover {

  font-family: Roboto, sans-serif;
  font-size: 18px;
  border-bottom: 4px solid black;
}

header {
  background-color: white;
  margin-bottom: 20px;
}

#logo{
  height: 80px;
  width: auto;
  transform: translateY(30px);
  z-index: 20;
}

/**********  START PAGE  ***********/

.startPage {
  background-color: black;
  width: 100%;
  height:620px;
  margin : auto;
  position: absolute;
  bottom: 0px;
  right: auto;
  display: block;
  z-index: 100;
  background-image: url(../images/background-menu.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

button{
  border : 2px solid white;
  background: rgba(0,0,0,0.3);
  text-align: center;
  padding: 10px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: white;
  display: block;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  transition: 0.3s;
}

button:hover{
  background: black;
  color: white;
}

p{
  color: white;
  font-family: 'roboto', sans-serif;
  font-size: 40px;
  margin: 0;
  padding: 0px 30px;
}

.startPage>img {
  width: 200px;
  margin: 20px;
}

.controle {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.controle img{
  width: 45px;
}


/***********  GAME  ************/

canvas { 
  display:block; 
  background: none;

}

#gameBackground {
  background-image: url(../images/MAPparcours.png);
  height: 600px;
  width: 21619px;
  position: absolute;
  bottom: 10px;

}

/** shoot **/

.attack{
  height: 600px;
  width: 21619px;
  position: absolute;
  z-index: 2;
}

.shoot{
  width: 10px;
  height: 2px;
  position: absolute;
  background-color: #c0392b;
  display: none;
  transition: all linear 0.08s;
}


.slash{
  width: 50px;
  transform: rotate(20deg);
  position: absolute;
}


.ennemy{
  width: 45px;
  height: 65px;
  position: absolute;
  background-image: url(../images/attack-zombie.gif);
  background-position:bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: none;
  transform: rotateY(180deg);
  transform: translateY: -20px;
}












