

.ground{
  width: 3600px;
  height: 1px;
  position: absolute;
  background-color: aqua;
  z-index: 100;
}




.obstacle{
  /*ici aspect des obstacles/platformes : transparent*/
}

/* rajouter ici toutes les divs de tous les obstacles et plateformes, numérotés dans leur ordre d'apparition*/

.obstacle001 {
  
}

.obstacles002 {
  
}

.platforms001 {
  
}

.platforms002 {
  
}

