/*********  CONTOUR JEU  *********/

body, html {
  height:100%;
}

body {
  background-color: black;
  color: white;
  position: relative;
  overflow:hidden;
  text-align: center;
}

.page2 {
  position: absolute;
  right: 40px;
  top: 20px;
}

h1{
  font-family: 'Jura', sans-serif;
  font-size: 70px;
  margin-top:0;
  padding-bottom: 50px;
  font-weight: 100;
}

/**********  START PAGE  ***********/

.startPage {
  border: 3px dashed orange;
  background-color: darkslateblue;
  width: 100%;
  height:80%;
  margin : auto;
  position: absolute;
  position: absolute;
  bottom: 30px;
  right: auto;
  display: block;
}

/***********  GAME  ************/

.game{
  display: none;
  width: 1000px;
  height: 500px;
  position: relative;
}

#character{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2000;
  background-color:  firebrick;
  width: 25px;
  height: 60px;
}

#gameBackground{
  width: 3600px;
  height: 500px;
  position: absolute;
  bottom: 0px;
  left: 0;
  background-image: url(../images/testBackground2.png);
  background-size: contain;
  background-repeat: no-repeat;
}